<% if member_signed_in? %>
    <%- model_class = Post -%>
    <div class="page-header">
      <h1><%= 'Welcome' %></h1>
      <b>LOGGED IN MEMBER:</b> <%= current_member[:username] %>
    </div>

    <h3>You have successfully signed in!</h3>
    <% session[:member_email] = current_member[:email] %>
    <%= link_to "Proceed to BLOG", posts_path, :method => :get, :class => 'btn' %>

<% else %>

    <h1> Welcome to BLOG </h1>

<% end %>